<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="thirdpartychartportlets.ZPM">
    <Module>
      <Name>thirdpartychartportlets</Name>
      <Description>Sample portlets for implementing charts from third party libraries in IRIS BI</Description>
      <Version>1.0.3</Version>
      <Packaging>module</Packaging>
      <Resource Name="ThirdPartyChartPortlets.PKG"/>
    </Module>
  </Document>
</Export>
